

.main{
    overflow-y:auto;
    
     width:auto;
 height: 75%;
}
.bg-danger{
    background-color: red !important;
}
.bg-success{
    background-color: green !important;
}
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
   
  }
  .flex-container > div {
    
    width: 100px;
    margin: 10px;
    text-align: center;
    
  } */
  @media screen and (max-width: 576px) {
    .sessionData {
        font-size:xx-small;
    }
    .addressData{
        font-size: xx-small;
    }
    .filter{
        font-size: xx-small;
    }
  }
  @media screen and (max-width: 768px) {
      .filter{
          font-size: x-small;
      }
      .sessionData {
        font-size:x-small;
    }
    .addressData{
        font-size: x-small;
    }
  }




