nav{
    background-color:#3F51B5 ;
    color: rgb(255, 255, 255);
    }

.main{
    overflow-y:auto;
    
     width:auto;
 height: 75%;
}
.bg-danger{
    background-color: red !important;
}
.bg-success{
    background-color: green !important;
}

  @media screen and (max-width: 576px) {
    .sessionData {
        font-size:xx-small;
    }
    .addressData{
        font-size: xx-small;
    }
    .filter{
        font-size: xx-small;
    }
  }
  @media screen and (max-width: 768px) {
      .filter{
          font-size: x-small;
      }
      .sessionData {
        font-size:x-small;
    }
    .addressData{
        font-size: x-small;
    }
  }




