
<!-- <mat-toolbar class="mat-display-5" color="primary" >
    <mat-icon  class=" material-icons-outlined " aria-hidden="false" aria-label="Example user verified icon">local_hospital</mat-icon>
    <span >VACCINATION AVAILABILITY</span>
    <mat-icon  class="material-icons-outlined" aria-hidden="false" aria-label="Example user verified icon">local_hospital</mat-icon>
  </mat-toolbar>
  <mat-toolbar class="text-center" color="accent">Check your nearest vaccination center and slots availability</mat-toolbar> -->
  <nav class="navbar h3 justify-content-start">
    <mat-icon  class=" material-icons-outlined m-3 " aria-hidden="false" aria-label="Example user verified icon">local_hospital</mat-icon>
    <span >VAXIFY ME</span>
    <mat-icon  class="material-icons-outlined m-3" aria-hidden="false" aria-label="Example user verified icon">local_hospital</mat-icon>
  </nav> 
  <nav class="navbar">
    Check your nearest vaccination center and slots availability
  </nav>